<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <div>
            <h3>회원가입</h3>
        </div>
        <form method="post" action="register">
        <div>
            <div>
                <div><label>아이디: </label></div>
                <div><input name="userId" type = "text"></div>
            </div>

            <div>
                <div><label>비밀번호: </label></div>
                <div><input name="password" type = "password"></div>
            </div>

            <div>
                <div><label>이름: </label></div>
                <div><input name="username" type = "text"></div>
            </div>

            <div>
                <div><button type = "submit">회원가입</button></div>
                <div><a href="index"><button type="button">취소</button></a></div>
            </div>
        </div>
    </form>
    </div>
    
</body>
</html>